.video__title {
    margin-top: 0;
    margin-bottom: calc((18 / 1024) * 100vw);
    font-weight: 900;
    font-size: calc((36 / 1024) * 100vw);
    line-height: 1.08;
}

@media screen and (min-width: 1025px) {
    .video__title {
        margin-bottom: 18px;
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .video__title {
        margin-bottom: calc((12 / 768) * 100vw);
        font-size: 24px;
    }
}

@media screen and (max-width: 425px) {
    .video__title {
        margin-bottom: 4px;
    }
}