.content-title_place_video {
    max-width: 800px;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 48px;
    font-size: calc((72 / 1024) * 100vw);
    line-height: 1.08;
    text-align: center;
}

@media screen and (min-width: 1025px) {
    .content-title_place_video {
        font-size: 72px;    
    }    
}

@media screen and (max-width: 768px) {
    .content-title_place_video {
        width: 80%;
        margin-bottom: 24px;
        font-size: calc((42 / 768) * 100vw);
        line-height: 1.1;
    }
}

@media screen and (max-width: 585px) {
    .content-title_place_video {
        width: 90%;
        font-size: 32px;
    }
}

@media screen and (max-width: 425px) {
    .content-title_place_video {
        width: 100%;
        margin-bottom: 16px;
    }
}